/* SPDX-License-Identifier: Apache-2.0 */
#ifndef CQIF_WIFI_CREDENTIALS_H_
#define CQIF_WIFI_CREDENTIALS_H_

/* 接続する2.4GHz・WPA2-PersonalのAPに合わせて変更する */
#define WIFI_SSID "YOUR_SSID"
#define WIFI_PASSWORD "YOUR_PASSWORD"

#endif /* CQIF_WIFI_CREDENTIALS_H_ */
