# Ignore Python virtual environment
.venv/

# Ignore west workspace and Zephyr related directories
.west/
zephyr_ws/zephyr/
zephyr_ws/modules/
zephyr_ws/tools/
zephyr_ws/bootloader/
zephyr_ws/**/build/

# Ignore Wi-Fi credentials header file
zephyr_ws/apps/common/wifi_credentials.h

# Ignore Python cache and CSV files in the host workspace
host_ws/__pycache__/
host_ws/*.csv
